<% var data = {
  title: "123123",
  author: "Seughton"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<!--<div class="Slider">
  <div class="slider_item"><img src="/img/slide11.jpg" alt=""></div>
  <div class="slider_item"><img src="/img/slide22.jpg" alt=""></div>
  <div class="slider_item"><img src="/img/slide33.jpg" alt=""></div>
  <div class="slider_item"><img src="/img/slide44.jpg" alt=""></div>
  <div class="slider_item"><img src="/img/slide55.jpg" alt=""></div>
  <div class="slider_item"><img src="/img/slide66.jpg" alt=""></div>
</div>-->

<%= _.template(require('./../includes/footer.html'))(data) %>